<div class="center-align">
    <h1>You Are:</h1>
    <a href="/1" class="waves-effect waves-light btn-large" style="margin: 4rem;">Guest Reader</a>
    <a href="/login" class="waves-effect waves-light btn-large">NITJ User</a>
</div>